<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.yuanyuansapplication.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.yuanyuansapplication.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <activity
        android:name="com.yuanyuansapplication.app.modules.detailedreport.ui.ComplianceReportActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.scanningone.ui.ScanningoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.customerfeedback.ui.CustomerFeedbackActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.yuanyuansapplication.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.yuanyuansapplication.app.modules.choose.ui.ChooseActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.addingwatch.ui.AddingWatchActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.paired.ui.PairedActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.signin.ui.SignInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.choosethelanguage.ui.ChooseTheLanguageActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.yuanyuansapplication.app.modules.home.ui.HomeActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
